:root {
  --color-secondry: #29c940;
  --color-accent: #c9295a;
  --color-gray: #f4f4f4;
  --color-dark: #434343;
  --gradient-1: linear-gradient(to bottom, #169fa2, #854d8a);
  --gradient-2: linear-gradient(to right, #45bec6 30%, #8490b8);

  --border-radius-small: 8px;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Lato", sans-serif;
  background-repeat: no-repeat;
  /* min-height: 100vh; */
  color: #fff;
}
.menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.Dashboard-but {
  color: #1b9a9c;
}
.nagative-arow {
  padding-inline: 16px;
  border-radius: 100px;
  height: 45px;
  border: none;
}
.nagative-arow &l .log-p1 {
  font-size: 1.7rem;
}
.log-p2 {
  font-size: 1.7rem;
  opacity: 50%;
}
.icon-arr {
  color: #fff;
}
.bg--lightGreen {
  background: #b5e9d6;
}

.bg--lightRed {
  background: #f87983;
}

.bg--orange {
  background: #ffa194;
}

.bg--orange-light {
  background: #fdb8b1;
}

.bg-brown-light {
  background: #ffdaca;
}

.bg--gray {
  background: #e8e8e8;
}

.bg-caremal {
  background: #fff8e6;
}

.bg--light-gray {
  background-color: #f4f4f4;
}

.gradient-blue-green {
  background: var(--gradient-1);
}

.gradient-green {
  background: var(--gradient-2);
}
.badge--secondary {
  background: var(--color-secondry);
}
.button {
  padding-block: 0.6rem;
  padding-inline: 1.4rem;
  text-transform: uppercase;
  border: none;
  display: inline-block;
  font-size: 1.6rem;
}

.button.active {
  background-color: #fff;
}
.button--secondary {
  color: var(--color-secondry);
  background-color: var(--color-gray);
}
.button--accent {
  color: var(--color-accent);
  background-color: var(--color-gray);
}
.btn-white {
  background-color: #fff;
}

.button-add {
  border: none;
  width: 30px;
  height: 30px;
}
.button-rounded {
  border-radius: 100%;
}

.body-wrapper {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(80px);
  /* height: 100vh; */
}
.breadcrumbs-box {
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  gap: 5px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input {
  padding: 1rem;
  border: none;
  background-color: #fff;
  font-family: inherit;
}
.input:focus {
  outline: none;
}
.skewed {
  transform: skewY(-8deg);
}

.article-card {
  background: #fff;
  position: relative;
}

.article-card img {
  width: 100%;
  height: 335px;
}

.title-residence {
  position: absolute;
  width: 90%;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.6);
  transform: translate(-50%);
  left: 50%;
  bottom: 26px;
  padding-block: 3rem;
  border-radius: var(--border-radius-small);
  backdrop-filter: blur(3px);
  text-transform: uppercase;
}
.box {
  padding: 1.8rem;
}

.sidebar {
  padding: 0.5rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: -20px;
  height: 90%;
  justify-content: center;
  gap: 10px;
  background: #169fa1;
  border-radius: var(--border-radius-small);
  transform: translateY(-50%);
  box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.3);
}

.sidebar div {
  width: 27px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px 4px 4px rgba(255, 255, 255, 0.1);
}
.sidebar div.upp-arr {
  transform: rotate(-90deg);
  font-size: 2rem;
}
.sidebar div.down-arr {
  transform: rotate(90deg);
  font-size: 2rem;
}

.sidebar div.num {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 100%;
  font-size: 1.4rem;
}

/* //COMMON TO DASHBOARD LAYOUT  */

.dashboard-detail {
  display: grid;
  grid-template-columns: 20% 20% 27% 15% 15%;
  grid-template-rows: 114px 137px 30px 116px 66px;
  margin: auto;
  /* gap: 10px; */
}
.dashboard-detail > div {
  margin: 5px;
}
.dashboard-detail .article-card img {
  height: 395px;
}

.right-poistioned-circle {
  position: relative;
}

.right-poistioned-circle::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -9%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-image: linear-gradient(to right, #f87982, #ffa194);
  border: 10px solid white;
}
.bottom-poistioned-circle {
  position: relative;
}

.bottom-poistioned-circle::before {
  content: "";
  position: absolute;
  bottom: -12%;
  right: 50%;
  /* transform: translateX(-50%); */
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-image: linear-gradient(to bottom, #f87982, #ffa194);
  border: 10px solid white;
}

.released .title,
.sold .title {
  font-size: 5.3rem;
  display: block;
  line-height: 0.9;
  font-weight: 300;
}

.released .num,
.sold .num {
  font-size: 12.9rem;
  font-weight: 900;
  line-height: 1.2;
}

.booked .title {
  font-size: 3.9rem;
  display: block;
  line-height: 0.9;
  font-weight: 300;
}

.pre .title-EOI {
  font-size: 5.3rem;
  display: block;
  line-height: 1;
  font-weight: 300;
}
.booking-box .title {
  font-size: 2.5rem;
  display: block;
  font-weight: 300;
}

.pre .abbrevation-text {
  font-size: 2.5rem;
  font-weight: 300;
  font-style: italic;
}

.header h1 {
  font-weight: 300;
}

.input-search {
  min-width: 330px;
}

.article-card {
  grid-row: 1 /-1;
  position: relative;
}
.article-card .button-add {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
}
.released {
  grid-row: 1/5;
  grid-column: 2/3;
}
.sold {
  grid-row: 1/3;
  grid-column: 3/4;
}
.booked {
  grid-row: 1/3;
  grid-column: 4/5;
}
.pre {
  grid-row: 3/5;
  grid-column: 3/5;
  color: var(--color-dark);
  display: flex;
  align-items: center;
  gap: 9rem;
  padding-block: 1rem;
  padding-inline: 3rem;
}

.last-blooked {
  grid-row: 5/6;
  grid-column: 2/5;
}
.pre-eoi-1 {
  grid-row: 2/4;
  grid-column: 5/6;
}
.pre-eoi-2 {
  grid-row: 4/-1;
  grid-column: 5/6;
}
.suspended {
  grid-column: span 3;
}
.released {
  color: var(--color-dark);
}
.booked .num,
.pre .num {
  font-size: 7.7rem;
}
.booking-box {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  padding-inline: 3rem;
}
.booking-box .num {
  color: var(--color-dark);
  font-size: 5rem;
  line-height: 1;
}

/* GLOBAL RESET FOR SWIPPER CLASSES */
.swiper-button-next,
.swiper-button-prev {
  /* bottom: 0; */
  /* top: 0px !important; */
  margin-top: 70px !important;
  right: 50%;
  left: initial;
  top: initial;
  background: #fff !important;
  width: 44.3px;
}
.swiper-button-next {
  margin-left: 22px;
  left: 49%;
}
.swiper-button-next:after {
  content: "\2192";
  font-size: 2.5rem;
  color: lightgray;
}
.swiper-button-prev:after {
  content: "\2190";
  font-size: 2.5rem;
  color: lightgray;
}

/* .slider-navigation-btns {
  margin-top: 2rem;
} */
